### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = len(school_data["school_name"])

total_students = len(school_data_complete["student_name"])

total_budget = school_data["budget"].sum()

avg_math_score = school_data_complete["math_score"].mean()

avg_reading_score = school_data_complete["reading_score"].mean()

passing_math = school_data_complete["math_score"] > 69
students_passing_math = sum(passing_math)

pct_passing_math = (students_passing_math / total_students) * 100

passing_reading = school_data_complete["reading_score"] > 69
students_passing_reading = sum(passing_reading)

pct_passing_reading = (students_passing_reading / total_students) * 100

passing_both = (passing_math & passing_reading)
students_passing_both = sum(passing_both)

pct_passing_both = (students_passing_both / total_students) * 100

district_info = ({
    "Total Schools": total_schools,
    "Total Students": total_students, 
    "Total Budget": total_budget, 
    "Average Math Score": avg_math_score, 
    "Average Reading Score": avg_reading_score,
    "% Passing Math": pct_passing_math, 
    "% Passing Reading": pct_passing_reading,
    "% Passing Overall": pct_passing_both,
})

district_df = pd.DataFrame(district_info, index=[0])
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [101]:
school_name = school_data["school_name"]

school_type = school_data["type"]

total_students_school = school_data["size"]

total_budget_school = school_data["budget"]

per_student_budget = total_budget_school / total_students_school

scores_per_school_df = school_data_complete.groupby(["school_name"])[["math_score", "reading_score"]].mean()

school_info = ({
    "School Name": school_name,
    "School Type": school_type,
    "Total Students": total_students_school,
    "Total Budget": total_budget_school,
    "Per Student Budget": per_student_budget,
})

school_info_df = pd.DataFrame(school_info)

In [102]:
scores_per_school_df = school_data_complete.groupby(["school_name"])[["math_score", "reading_score"]].mean().reset_index()

school_info_scores_df = school_info_df.merge(scores_per_school_df, right_on = 'school_name', left_on = 'School Name')
school_info_scores_df

,School Name,School Type,Total Students,Total Budget,Per Student Budget,school_name,math_score,reading_score
0,Huang High School,District,2917,1910635,655.0,Huang High School,76.629414,81.182722
1,Figueroa High School,District,2949,1884411,639.0,Figueroa High School,76.711767,81.158020
2,Shelton High School,Charter,1761,1056600,600.0,Shelton High School,83.359455,83.725724
3,Hernandez High School,District,4635,3022020,652.0,Hernandez High School,77.289752,80.934412
4,Griffin High School,Charter,1468,917500,625.0,Griffin High School,83.351499,83.816757
5,Wilson High School,Charter,2283,1319574,578.0,Wilson High School,83.274201,83.989488
6,Cabrera High School,Charter,1858,1081356,582.0,Cabrera High School,83.061895,83.975780
7,Bailey High School,District,4976,3124928,628.0,Bailey High School,77.048432,81.033963
8,Holden High School,Charter,427,248087,581.0,Holden High School,83.803279,83.814988
9,Pena High School,Charter,962,585858,609.0,Pena High School,83.839917,84.044699
10,Wright High School,Charter,1800,1049400,583.0,Wright High School,83.682222,83.955000
11,Rodriguez High School,District,3999,2547363,637.0,Rodriguez High School,76.842711,80.744686
12,Johnson High School,District,4761,3094650,650.0,Johnson High School,77.072464,80.966394
13,Ford High School,District,2739,1763916,644.0,Ford High School,77.102592,80.746258
14,Thomas High School,Charter,1635,1043130,638.0,Thomas High School,83.418349,83.848930

In [139]:
passing_math = school_data_complete["math_score"] > 70
passing_reading = school_data_complete["reading_score"] > 70

students_passing_math = school_data_complete[passing_math].groupby('school_name')['student_name'].count()

students_passing_reading = school_data_complete[passing_reading].groupby('school_name')['student_name'].count()

students_passing_both = school_data_complete[passing_math & passing_reading].groupby('school_name')['student_name'].count()

passing_count = [students_passing_math, students_passing_reading, students_passing_both]
passing_count_df = pd.DataFrame(passing_count)

# final_df = pd.merge(school_info_scores_df, passing_count_df, left_on = 'school_name', right_on = 'school_name')

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
# final_df = final_df.sort_values(by=['% students passing both'])
# final_df.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
# final_df.tail()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type